body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #FFF2E0;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  color: #183B4E;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #27548A;
  color: #183B4E ;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background: #27548A;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background: #183B4E;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #27548A;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

li span {
  flex: 1;
}

li button {
  background: #FFF2E0;
  color: #183B4E;
}

li button:hover {
  background: #b02a37;
}
